### SJSU ChatGPT Tweets Analysis

In [1]:
#import libraries

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('chatgpt1.csv')
df.head()

,Datetime,Tweet Id,Text,Username,Permalink,User,Outlinks,CountLinks,ReplyCount,RetweetCount,LikeCount,QuoteCount,ConversationId,Language,Source,Media,QuotedTweet,MentionedUsers,hashtag,hastag_counts
0,2023-01-22 13:44:34+00:00,1617156270871699456,ChatGPTで遊ぶの忘れてた！！\n書類作るコード書いてみてほしいのと、\nどこまで思考整...,mochico0123,https://twitter.com/mochico0123/status/1617156...,https://twitter.com/mochico0123,NaN,NaN,1,0,5,0,1617156270871699456,ja,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,[],0
1,2023-01-22 13:44:39+00:00,1617156291046133761,@AlexandrovnaIng Prohibition of ChatGPT has be...,Caput_LupinumSG,https://twitter.com/Caput_LupinumSG/status/161...,https://twitter.com/Caput_LupinumSG,NaN,NaN,1,0,5,0,1617148639993806848,en,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,"[User(username='AlexandrovnaIng', id=282705900...",[],0
2,2023-01-22 13:44:44+00:00,1617156308926349312,"Schaut Euch an, was @fobizz @DianaKnodel alles...",ciffi,https://twitter.com/ciffi/status/1617156308926...,https://twitter.com/ciffi,['https://us02web.zoom.us/webinar/register/801...,"['https://t.co/DsoeVJrPBp', 'https://t.co/HflT...",0,0,4,0,1617156308926349312,de,"<a href=""http://twitter.com/#!/download/ipad"" ...",[Photo(previewUrl='https://pbs.twimg.com/media...,https://twitter.com/DianaKnodel/status/1617153...,"[User(username='fobizz', id=884708145792253952...",['#ChatGPT'],1
3,2023-01-22 13:44:49+00:00,1617156332297256961,Bow down to chatGPT 🫡..... https://t.co/ENTSzi...,Vishwasrisiri,https://twitter.com/Vishwasrisiri/status/16171...,https://twitter.com/Vishwasrisiri,['https://twitter.com/agadmator/status/1617155...,['https://t.co/ENTSzi2AQ9'],0,0,2,0,1617156332297256961,en,"<a href=""http://twitter.com/download/android"" ...",NaN,https://twitter.com/agadmator/status/161715501...,NaN,[],0
4,2023-01-22 13:44:52+00:00,1617156345064570880,"Profilinde vatan, Türkiye falan yazan bireyler...",0xGenetikciniz,https://twitter.com/0xGenetikciniz/status/1617...,https://twitter.com/0xGenetikciniz,NaN,NaN,0,0,4,0,1617156345064570880,tr,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,[],0

In [3]:
df.shape

(50001, 20)

In [4]:
df.duplicated().sum()

#no duplicates values found

0

In [5]:
df.columns.values.tolist()

['Datetime',
 'Tweet Id',
 'Text',
 'Username',
 'Permalink',
 'User',
 'Outlinks',
 'CountLinks',
 'ReplyCount',
 'RetweetCount',
 'LikeCount',
 'QuoteCount',
 'ConversationId',
 'Language',
 'Source',
 'Media',
 'QuotedTweet',
 'MentionedUsers',
 'hashtag',
 'hastag_counts']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Datetime        50001 non-null  object
 1   Tweet Id        50001 non-null  int64
 2   Text            50001 non-null  object
 3   Username        50001 non-null  object
 4   Permalink       50001 non-null  object
 5   User            50001 non-null  object
 6   Outlinks        19942 non-null  object
 7   CountLinks      19942 non-null  object
 8   ReplyCount      50001 non-null  int64
 9   RetweetCount    50001 non-null  int64
 10  LikeCount       50001 non-null  int64
 11  QuoteCount      50001 non-null  int64
 12  ConversationId  50001 non-null  int64
 13  Language        50001 non-null  object
 14  Source          50001 non-null  object
 15  Media           9502 non-null   object
 16  QuotedTweet     3563 non-null   object
 17  MentionedUsers  17169 non-null  object
 18  hashtag         50001 non-null  object
 19  hastag_counts   50001 non-null  int64
dtypes: int64(7), object(13)
memory usage: 7.6+ MB

In [7]:
df.isnull().sum()

#Outlinks, Countlinks, Media, QuotedTweet, MentionedUsers have null values
#These null values will not be imputed as some tweets might not have outlinks, media, mentioned users, etc.

Datetime              0
Tweet Id              0
Text                  0
Username              0
Permalink             0
User                  0
Outlinks          30059
CountLinks        30059
ReplyCount            0
RetweetCount          0
LikeCount             0
QuoteCount            0
ConversationId        0
Language              0
Source                0
Media             40499
QuotedTweet       46438
MentionedUsers    32832
hashtag               0
hastag_counts         0
dtype: int64

### Data Preprocessing

In [8]:
df1 = df.copy()

In [9]:
df1.head()

,Datetime,Tweet Id,Text,Username,Permalink,User,Outlinks,CountLinks,ReplyCount,RetweetCount,LikeCount,QuoteCount,ConversationId,Language,Source,Media,QuotedTweet,MentionedUsers,hashtag,hastag_counts
0,2023-01-22 13:44:34+00:00,1617156270871699456,ChatGPTで遊ぶの忘れてた！！\n書類作るコード書いてみてほしいのと、\nどこまで思考整...,mochico0123,https://twitter.com/mochico0123/status/1617156...,https://twitter.com/mochico0123,NaN,NaN,1,0,5,0,1617156270871699456,ja,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,[],0
1,2023-01-22 13:44:39+00:00,1617156291046133761,@AlexandrovnaIng Prohibition of ChatGPT has be...,Caput_LupinumSG,https://twitter.com/Caput_LupinumSG/status/161...,https://twitter.com/Caput_LupinumSG,NaN,NaN,1,0,5,0,1617148639993806848,en,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,"[User(username='AlexandrovnaIng', id=282705900...",[],0
2,2023-01-22 13:44:44+00:00,1617156308926349312,"Schaut Euch an, was @fobizz @DianaKnodel alles...",ciffi,https://twitter.com/ciffi/status/1617156308926...,https://twitter.com/ciffi,['https://us02web.zoom.us/webinar/register/801...,"['https://t.co/DsoeVJrPBp', 'https://t.co/HflT...",0,0,4,0,1617156308926349312,de,"<a href=""http://twitter.com/#!/download/ipad"" ...",[Photo(previewUrl='https://pbs.twimg.com/media...,https://twitter.com/DianaKnodel/status/1617153...,"[User(username='fobizz', id=884708145792253952...",['#ChatGPT'],1
3,2023-01-22 13:44:49+00:00,1617156332297256961,Bow down to chatGPT 🫡..... https://t.co/ENTSzi...,Vishwasrisiri,https://twitter.com/Vishwasrisiri/status/16171...,https://twitter.com/Vishwasrisiri,['https://twitter.com/agadmator/status/1617155...,['https://t.co/ENTSzi2AQ9'],0,0,2,0,1617156332297256961,en,"<a href=""http://twitter.com/download/android"" ...",NaN,https://twitter.com/agadmator/status/161715501...,NaN,[],0
4,2023-01-22 13:44:52+00:00,1617156345064570880,"Profilinde vatan, Türkiye falan yazan bireyler...",0xGenetikciniz,https://twitter.com/0xGenetikciniz/status/1617...,https://twitter.com/0xGenetikciniz,NaN,NaN,0,0,4,0,1617156345064570880,tr,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,[],0

In [10]:
#renaming column names

In [11]:
df1.columns = [x.lower() for x in df1.columns]

In [12]:
df1.columns

Index(['datetime', 'tweet id', 'text', 'username', 'permalink', 'user',
       'outlinks', 'countlinks', 'replycount', 'retweetcount', 'likecount',
       'quotecount', 'conversationid', 'language', 'source', 'media',
       'quotedtweet', 'mentionedusers', 'hashtag', 'hastag_counts'],
      dtype='object')

In [13]:
df1.rename(columns = {'tweet id' : 'tweet_id', 'text' : 'tweet', 'permalink' : 'tweet_link', 'user' : 'user_handle', 
                      'countlinks' : 'mentioned_link', 'replycount' : 'reply_count', 'retweetcount' : 'retweet_count', 
                      'likecount' : 'like_count', 'quotecount' : 'quote_count', 'conversationid' : 'conversation_id', 
                      'source' : 'source_link', 'mentionedusers' : 'mentioned_users', 
                      'hastag_counts' : 'hashtag_counts'},inplace = True)

In [14]:
df1.columns

Index(['datetime', 'tweet_id', 'tweet', 'username', 'tweet_link',
       'user_handle', 'outlinks', 'mentioned_link', 'reply_count',
       'retweet_count', 'like_count', 'quote_count', 'conversation_id',
       'language', 'source_link', 'media', 'quotedtweet', 'mentioned_users',
       'hashtag', 'hashtag_counts'],
      dtype='object')

In [15]:
#countlinks alias or short link for outlinks
#dropping column outlinks

In [16]:
df1.drop('outlinks', axis=1, inplace = True)

In [17]:
#dropping languages other than English

In [18]:
df1.drop(df1.loc[df1['language'] != 'en'].index, inplace = True)

In [19]:
df1.shape

(32076, 19)

In [20]:
#ASCII cannot support complex characters that make up other language
#Dropping languages other than English

In [21]:
#Removing emojis
#Emojis are encoded in the Unicode Standard

In [22]:
df1 = df1.astype(str).apply(lambda x: x.str.encode(encoding = 'ascii', errors = 'ignore').str.decode('ascii'))

In [23]:
df1.head()

,datetime,tweet_id,tweet,username,tweet_link,user_handle,mentioned_link,reply_count,retweet_count,like_count,quote_count,conversation_id,language,source_link,media,quotedtweet,mentioned_users,hashtag,hashtag_counts
1,2023-01-22 13:44:39+00:00,1617156291046133761,@AlexandrovnaIng Prohibition of ChatGPT has be...,Caput_LupinumSG,https://twitter.com/Caput_LupinumSG/status/161...,https://twitter.com/Caput_LupinumSG,nan,1,0,5,0,1617148639993806848,en,"<a href=""http://twitter.com/download/iphone"" r...",nan,nan,"[User(username='AlexandrovnaIng', id=282705900...",[],0
3,2023-01-22 13:44:49+00:00,1617156332297256961,Bow down to chatGPT ..... https://t.co/ENTSzi2AQ9,Vishwasrisiri,https://twitter.com/Vishwasrisiri/status/16171...,https://twitter.com/Vishwasrisiri,['https://t.co/ENTSzi2AQ9'],0,0,2,0,1617156332297256961,en,"<a href=""http://twitter.com/download/android"" ...",nan,https://twitter.com/agadmator/status/161715501...,nan,[],0
6,2023-01-22 13:45:03+00:00,1617156389217894400,ChatGPT runs 10K Nvidia training GPUs with pot...,FierceElectron,https://twitter.com/FierceElectron/status/1617...,https://twitter.com/FierceElectron,['https://t.co/Uhq62t0Uw4'],0,0,0,0,1617156389217894400,en,"<a href=""https://mobile.twitter.com"" rel=""nofo...",nan,nan,nan,[],0
7,2023-01-22 13:45:04+00:00,1617156393898745858,@SWENGDAD There is repetitive work in every jo...,xlr8harder,https://twitter.com/xlr8harder/status/16171563...,https://twitter.com/xlr8harder,nan,1,0,3,0,1617149595901104130,en,"<a href=""https://mobile.twitter.com"" rel=""nofo...",nan,nan,"[User(username='SWENGDAD', id=1460452950875193...",[],0
8,2023-01-22 13:45:06+00:00,1617156404137295878,I created a fictional jewelry brand using Chat...,Kosuke_dazo,https://twitter.com/Kosuke_dazo/status/1617156...,https://twitter.com/Kosuke_dazo,['https://t.co/gtWdNZ0laM'],0,1,2,1,1617156404137295878,en,"<a href=""http://twitter.com/download/iphone"" r...",[Photo(previewUrl='https://pbs.twimg.com/media...,nan,nan,"['#ChatGPT', '#midjourney']",2

In [24]:
#Splitting Datetime attribute to date and time
#Storing Date as a new attribute

In [25]:
date_time_split = df1['datetime'].str.split(' ', n = 1, expand = True)

In [26]:
df1['date'] = date_time_split[0]

In [27]:
df1.drop('datetime', axis=1, inplace = True)

In [28]:
df1['date'].unique()

#3 uniue date values

array(['2023-01-22', '2023-01-23', '2023-01-24'], dtype=object)

In [29]:
#replace empty square brackets in hashtag column with Null

In [30]:
df1['hashtag'].replace(to_replace=['[]'], value='Null', inplace=True)

In [31]:
#change nan to Null in 'Outlinks', 'Countlinks', 'Media', 'QuotedTweet', 'MentionedUsers'

In [32]:
df1['mentioned_link'].replace(to_replace=['nan'], value='Null', inplace=True)

In [33]:
df1['media'].replace(to_replace=['nan'], value='Null', inplace=True)

In [34]:
df1['quotedtweet'].replace(to_replace=['nan'], value='Null', inplace=True)

In [35]:
df1['mentioned_users'].replace(to_replace=['nan'], value='Null', inplace=True)

In [36]:
df1 = df1.reset_index(drop=True)
df1.head()

,tweet_id,tweet,username,tweet_link,user_handle,mentioned_link,reply_count,retweet_count,like_count,quote_count,conversation_id,language,source_link,media,quotedtweet,mentioned_users,hashtag,hashtag_counts,date
0,1617156291046133761,@AlexandrovnaIng Prohibition of ChatGPT has be...,Caput_LupinumSG,https://twitter.com/Caput_LupinumSG/status/161...,https://twitter.com/Caput_LupinumSG,Null,1,0,5,0,1617148639993806848,en,"<a href=""http://twitter.com/download/iphone"" r...",Null,Null,"[User(username='AlexandrovnaIng', id=282705900...",Null,0,2023-01-22
1,1617156332297256961,Bow down to chatGPT ..... https://t.co/ENTSzi2AQ9,Vishwasrisiri,https://twitter.com/Vishwasrisiri/status/16171...,https://twitter.com/Vishwasrisiri,['https://t.co/ENTSzi2AQ9'],0,0,2,0,1617156332297256961,en,"<a href=""http://twitter.com/download/android"" ...",Null,https://twitter.com/agadmator/status/161715501...,Null,Null,0,2023-01-22
2,1617156389217894400,ChatGPT runs 10K Nvidia training GPUs with pot...,FierceElectron,https://twitter.com/FierceElectron/status/1617...,https://twitter.com/FierceElectron,['https://t.co/Uhq62t0Uw4'],0,0,0,0,1617156389217894400,en,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Null,Null,Null,Null,0,2023-01-22
3,1617156393898745858,@SWENGDAD There is repetitive work in every jo...,xlr8harder,https://twitter.com/xlr8harder/status/16171563...,https://twitter.com/xlr8harder,Null,1,0,3,0,1617149595901104130,en,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Null,Null,"[User(username='SWENGDAD', id=1460452950875193...",Null,0,2023-01-22
4,1617156404137295878,I created a fictional jewelry brand using Chat...,Kosuke_dazo,https://twitter.com/Kosuke_dazo/status/1617156...,https://twitter.com/Kosuke_dazo,['https://t.co/gtWdNZ0laM'],0,1,2,1,1617156404137295878,en,"<a href=""http://twitter.com/download/iphone"" r...",[Photo(previewUrl='https://pbs.twimg.com/media...,Null,Null,"['#ChatGPT', '#midjourney']",2,2023-01-22

In [37]:
#Normalisation of text column

In [38]:
def clean_text(X):
    X = X.split()
    X_new = [x for x in X if not x.startswith('https://')]
    return ' '.join(X_new)

df1['tweet'] = df1['tweet'].apply(clean_text)

In [39]:
def clean_text(X):
    X = X.split()
    X_new = [x for x in X if not x.startswith('@')]
    return ' '.join(X_new)

df1['tweet'] = df1['tweet'].apply(clean_text)

In [40]:
def clean_text(X):
    X = X.split()
    X_new = [x for x in X if not x.startswith('#')]
    return ' '.join(X_new)

df1['tweet'] = df1['tweet'].apply(clean_text)

In [41]:
df1.head()

,tweet_id,tweet,username,tweet_link,user_handle,mentioned_link,reply_count,retweet_count,like_count,quote_count,conversation_id,language,source_link,media,quotedtweet,mentioned_users,hashtag,hashtag_counts,date
0,1617156291046133761,Prohibition of ChatGPT has been added to the h...,Caput_LupinumSG,https://twitter.com/Caput_LupinumSG/status/161...,https://twitter.com/Caput_LupinumSG,Null,1,0,5,0,1617148639993806848,en,"<a href=""http://twitter.com/download/iphone"" r...",Null,Null,"[User(username='AlexandrovnaIng', id=282705900...",Null,0,2023-01-22
1,1617156332297256961,Bow down to chatGPT .....,Vishwasrisiri,https://twitter.com/Vishwasrisiri/status/16171...,https://twitter.com/Vishwasrisiri,['https://t.co/ENTSzi2AQ9'],0,0,2,0,1617156332297256961,en,"<a href=""http://twitter.com/download/android"" ...",Null,https://twitter.com/agadmator/status/161715501...,Null,Null,0,2023-01-22
2,1617156389217894400,ChatGPT runs 10K Nvidia training GPUs with pot...,FierceElectron,https://twitter.com/FierceElectron/status/1617...,https://twitter.com/FierceElectron,['https://t.co/Uhq62t0Uw4'],0,0,0,0,1617156389217894400,en,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Null,Null,Null,Null,0,2023-01-22
3,1617156393898745858,"There is repetitive work in every job, there a...",xlr8harder,https://twitter.com/xlr8harder/status/16171563...,https://twitter.com/xlr8harder,Null,1,0,3,0,1617149595901104130,en,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Null,Null,"[User(username='SWENGDAD', id=1460452950875193...",Null,0,2023-01-22
4,1617156404137295878,I created a fictional jewelry brand using Chat...,Kosuke_dazo,https://twitter.com/Kosuke_dazo/status/1617156...,https://twitter.com/Kosuke_dazo,['https://t.co/gtWdNZ0laM'],0,1,2,1,1617156404137295878,en,"<a href=""http://twitter.com/download/iphone"" r...",[Photo(previewUrl='https://pbs.twimg.com/media...,Null,Null,"['#ChatGPT', '#midjourney']",2,2023-01-22

In [42]:
#cleanning columns with links

In [43]:
df1['mentioned_link'] = df1['mentioned_link'].map(lambda x: x.lstrip("['"))
df1['mentioned_link'] = df1['mentioned_link'].map(lambda x: x.rstrip("']"))

In [44]:
start = '>'
end = '<'

df1['source_link'] = df1.source_link.str.split(start).str[1].str.split(end).str[0]

In [45]:
df1.head()

,tweet_id,tweet,username,tweet_link,user_handle,mentioned_link,reply_count,retweet_count,like_count,quote_count,conversation_id,language,source_link,media,quotedtweet,mentioned_users,hashtag,hashtag_counts,date
0,1617156291046133761,Prohibition of ChatGPT has been added to the h...,Caput_LupinumSG,https://twitter.com/Caput_LupinumSG/status/161...,https://twitter.com/Caput_LupinumSG,Null,1,0,5,0,1617148639993806848,en,Twitter for iPhone,Null,Null,"[User(username='AlexandrovnaIng', id=282705900...",Null,0,2023-01-22
1,1617156332297256961,Bow down to chatGPT .....,Vishwasrisiri,https://twitter.com/Vishwasrisiri/status/16171...,https://twitter.com/Vishwasrisiri,https://t.co/ENTSzi2AQ9,0,0,2,0,1617156332297256961,en,Twitter for Android,Null,https://twitter.com/agadmator/status/161715501...,Null,Null,0,2023-01-22
2,1617156389217894400,ChatGPT runs 10K Nvidia training GPUs with pot...,FierceElectron,https://twitter.com/FierceElectron/status/1617...,https://twitter.com/FierceElectron,https://t.co/Uhq62t0Uw4,0,0,0,0,1617156389217894400,en,Twitter Web App,Null,Null,Null,Null,0,2023-01-22
3,1617156393898745858,"There is repetitive work in every job, there a...",xlr8harder,https://twitter.com/xlr8harder/status/16171563...,https://twitter.com/xlr8harder,Null,1,0,3,0,1617149595901104130,en,Twitter Web App,Null,Null,"[User(username='SWENGDAD', id=1460452950875193...",Null,0,2023-01-22
4,1617156404137295878,I created a fictional jewelry brand using Chat...,Kosuke_dazo,https://twitter.com/Kosuke_dazo/status/1617156...,https://twitter.com/Kosuke_dazo,https://t.co/gtWdNZ0laM,0,1,2,1,1617156404137295878,en,Twitter for iPhone,[Photo(previewUrl='https://pbs.twimg.com/media...,Null,Null,"['#ChatGPT', '#midjourney']",2,2023-01-22

In [46]:
#split whole dataset into 6 different tables to normalise data

In [47]:
tweet = df1[['date','tweet_id', 'tweet', 'username', 'tweet_link', 'conversation_id', 'language']]
tweet.head()

#username - FK in tweet table

,date,tweet_id,tweet,username,tweet_link,conversation_id,language
0,2023-01-22,1617156291046133761,Prohibition of ChatGPT has been added to the h...,Caput_LupinumSG,https://twitter.com/Caput_LupinumSG/status/161...,1617148639993806848,en
1,2023-01-22,1617156332297256961,Bow down to chatGPT .....,Vishwasrisiri,https://twitter.com/Vishwasrisiri/status/16171...,1617156332297256961,en
2,2023-01-22,1617156389217894400,ChatGPT runs 10K Nvidia training GPUs with pot...,FierceElectron,https://twitter.com/FierceElectron/status/1617...,1617156389217894400,en
3,2023-01-22,1617156393898745858,"There is repetitive work in every job, there a...",xlr8harder,https://twitter.com/xlr8harder/status/16171563...,1617149595901104130,en
4,2023-01-22,1617156404137295878,I created a fictional jewelry brand using Chat...,Kosuke_dazo,https://twitter.com/Kosuke_dazo/status/1617156...,1617156404137295878,en

In [48]:
user = df1[['username', 'user_handle']]
user.head()

#create new column user_id - PK for this table

          username                          user_handle
0  Caput_LupinumSG  https://twitter.com/Caput_LupinumSG
1    Vishwasrisiri    https://twitter.com/Vishwasrisiri
2   FierceElectron   https://twitter.com/FierceElectron
3       xlr8harder       https://twitter.com/xlr8harder
4      Kosuke_dazo      https://twitter.com/Kosuke_dazo

In [49]:
engagement = df1[['tweet_id', 'mentioned_link', 'reply_count', 'retweet_count', 'like_count', 'quote_count', 'source_link', 
                  'quotedtweet']]
engagement.head()

,tweet_id,mentioned_link,reply_count,retweet_count,like_count,quote_count,source_link,quotedtweet
0,1617156291046133761,Null,1,0,5,0,Twitter for iPhone,Null
1,1617156332297256961,https://t.co/ENTSzi2AQ9,0,0,2,0,Twitter for Android,https://twitter.com/agadmator/status/161715501...
2,1617156389217894400,https://t.co/Uhq62t0Uw4,0,0,0,0,Twitter Web App,Null
3,1617156393898745858,Null,1,0,3,0,Twitter Web App,Null
4,1617156404137295878,https://t.co/gtWdNZ0laM,0,1,2,1,Twitter for iPhone,Null

In [50]:
#mentioned_user table

muser = df1[['tweet_id', 'mentioned_users']]
muser.head()

#composite PK - tweet_id + mentioned_user

              tweet_id                                    mentioned_users
0  1617156291046133761  [User(username='AlexandrovnaIng', id=282705900...
1  1617156332297256961                                               Null
2  1617156389217894400                                               Null
3  1617156393898745858  [User(username='SWENGDAD', id=1460452950875193...
4  1617156404137295878                                               Null

In [51]:
media = df1[['tweet_id', 'media']]
media.head()

#PK - ?

              tweet_id                                              media
0  1617156291046133761                                               Null
1  1617156332297256961                                               Null
2  1617156389217894400                                               Null
3  1617156393898745858                                               Null
4  1617156404137295878  [Photo(previewUrl='https://pbs.twimg.com/media...

In [52]:
hashtags = df1[['tweet_id', 'hashtag', 'hashtag_counts']]
hashtags.head()

#composite PK - tweet_id + hashtag

              tweet_id                      hashtag hashtag_counts
0  1617156291046133761                         Null              0
1  1617156332297256961                         Null              0
2  1617156389217894400                         Null              0
3  1617156393898745858                         Null              0
4  1617156404137295878  ['#ChatGPT', '#midjourney']              2

In [53]:
#Normalising multi-valued attributes

In [54]:
#media column

df['media_present'] = media.loc[media['media'] == 'Null', 'media'] = 0

In [55]:
media['media_present'] = media['media'].apply(lambda x: 0 if x == 'Null' else 1)

In [56]:
media.head(10)

,tweet_id,media,media_present
0,1617156291046133761,Null,0
1,1617156332297256961,Null,0
2,1617156389217894400,Null,0
3,1617156393898745858,Null,0
4,1617156404137295878,[Photo(previewUrl='https://pbs.twimg.com/media...,1
5,1617156405869379585,[Photo(previewUrl='https://pbs.twimg.com/media...,1
6,1617156409254375434,Null,0
7,1617156410634010624,Null,0
8,1617156441420271618,Null,0
9,1617156485846368257,Null,0

In [57]:
#hashtag column

In [58]:
hashtags['hashtag'] = hashtags['hashtag'].map(lambda x: x.lstrip("["))
hashtags['hashtag'] = hashtags['hashtag'].map(lambda x: x.rstrip("]"))

In [59]:
hashtags = hashtags.set_index(['tweet_id', 'hashtag_counts']).apply(lambda x: x.str.split(',').explode()).reset_index()
hashtags.head(30)

               tweet_id hashtag_counts                     hashtag
0   1617156291046133761              0                        Null
1   1617156332297256961              0                        Null
2   1617156389217894400              0                        Null
3   1617156393898745858              0                        Null
4   1617156404137295878              2                  '#ChatGPT'
5   1617156404137295878              2               '#midjourney'
6   1617156405869379585              1                  '#ChatGPT'
7   1617156409254375434              0                        Null
8   1617156410634010624              4                  '#ChatGPT'
9   1617156410634010624              4                '#visionary'
10  1617156410634010624              4   '#ArtificialIntelligence'
11  1617156410634010624              4                   '#future'
12  1617156441420271618             11                  '#ChatGPT'
13  1617156441420271618             11             '#MicrosoftEDU'
14  1617156441420271618             11                '#MIEExpert'
15  1617156441420271618             11                   '#EdTech'
16  1617156441420271618             11                  '#EduTech'
17  1617156441420271618             11               '#EduTwitter'
18  1617156441420271618             11                '#ETCoaches'
19  1617156441420271618             11          '#BlendedLearning'
20  1617156441420271618             11                 '#EduCoach'
21  1617156441420271618             11                '#eLearning'
22  1617156441420271618             11        '#21stCenturySkills'
23  1617156485846368257              1              '#letsconnect'
24  1617156511733780483              0                        Null
25  1617156513642037249              0                        Null
26  1617156539097260033              1                  '#ChatGPT'
27  1617156570806374401              0                        Null
28  1617156606453583877              0                        Null
29  1617156625256644609              0                        Null

In [60]:
hashtags['hashtag'] = hashtags['hashtag'].map(lambda x: x.lstrip("'"))
hashtags['hashtag'] = hashtags['hashtag'].map(lambda x: x.lstrip(" '"))
hashtags['hashtag'] = hashtags['hashtag'].map(lambda x: x.rstrip("'"))

In [61]:
hashtags.head(30)

               tweet_id hashtag_counts                  hashtag
0   1617156291046133761              0                     Null
1   1617156332297256961              0                     Null
2   1617156389217894400              0                     Null
3   1617156393898745858              0                     Null
4   1617156404137295878              2                 #ChatGPT
5   1617156404137295878              2              #midjourney
6   1617156405869379585              1                 #ChatGPT
7   1617156409254375434              0                     Null
8   1617156410634010624              4                 #ChatGPT
9   1617156410634010624              4               #visionary
10  1617156410634010624              4  #ArtificialIntelligence
11  1617156410634010624              4                  #future
12  1617156441420271618             11                 #ChatGPT
13  1617156441420271618             11            #MicrosoftEDU
14  1617156441420271618             11               #MIEExpert
15  1617156441420271618             11                  #EdTech
16  1617156441420271618             11                 #EduTech
17  1617156441420271618             11              #EduTwitter
18  1617156441420271618             11               #ETCoaches
19  1617156441420271618             11         #BlendedLearning
20  1617156441420271618             11                #EduCoach
21  1617156441420271618             11               #eLearning
22  1617156441420271618             11       #21stCenturySkills
23  1617156485846368257              1             #letsconnect
24  1617156511733780483              0                     Null
25  1617156513642037249              0                     Null
26  1617156539097260033              1                 #ChatGPT
27  1617156570806374401              0                     Null
28  1617156606453583877              0                     Null
29  1617156625256644609              0                     Null

In [62]:
#mentioned_users column

In [63]:
muser.shape

(32076, 2)

In [64]:
muser.head(30)

               tweet_id                                    mentioned_users
0   1617156291046133761  [User(username='AlexandrovnaIng', id=282705900...
1   1617156332297256961                                               Null
2   1617156389217894400                                               Null
3   1617156393898745858  [User(username='SWENGDAD', id=1460452950875193...
4   1617156404137295878                                               Null
5   1617156405869379585                                               Null
6   1617156409254375434                                               Null
7   1617156410634010624                                               Null
8   1617156441420271618                                               Null
9   1617156485846368257                                               Null
10  1617156511733780483                                               Null
11  1617156513642037249                                               Null
12  1617156539097260033  [User(username='Slipcatch', id=33131099, displ...
13  1617156570806374401  [User(username='paulgp', id=16311780, displayn...
14  1617156606453583877  [User(username='FrankDeya', id=630313285, disp...
15  1617156625256644609                                               Null
16  1617156638120579073                                               Null
17  1617156687202496512                                               Null
18  1617156719884247042                                               Null
19  1617156740331732994                                               Null
20  1617156746954346496                                               Null
21  1617156768458747904  [User(username='SamsungIndia', id=46134530, di...
22  1617156777623310339                                               Null
23  1617156780647419904  [User(username='paulg', id=183749519, displayn...
24  1617156828244357122                                               Null
25  1617156832556126209                                               Null
26  1617156879385346049  [User(username='RVCJ_FB', id=2835317718, displ...
27  1617156884452225025                                               Null
28  1617156943726120965                                               Null
29  1617156982519070721  [User(username='AlanLevinovitz', id=1247549077...

In [65]:
muser['mentioned_users'] = muser['mentioned_users'].map(lambda x: x.lstrip("["))
muser['mentioned_users'] = muser['mentioned_users'].map(lambda x: x.rstrip("]"))

In [66]:
muser = muser.set_index(['tweet_id']).apply(lambda x: x.str.split('username').explode()).reset_index()

In [67]:
muser.head(30)

               tweet_id                                    mentioned_users
0   1617156291046133761                                              User(
1   1617156291046133761  ='AlexandrovnaIng', id=2827059006, displayname...
2   1617156332297256961                                               Null
3   1617156389217894400                                               Null
4   1617156393898745858                                              User(
5   1617156393898745858  ='SWENGDAD', id=1460452950875193348, displayna...
6   1617156404137295878                                               Null
7   1617156405869379585                                               Null
8   1617156409254375434                                               Null
9   1617156410634010624                                               Null
10  1617156441420271618                                               Null
11  1617156485846368257                                               Null
12  1617156511733780483                                               Null
13  1617156513642037249                                               Null
14  1617156539097260033                                              User(
15  1617156539097260033  ='Slipcatch', id=33131099, displayname='Rgnr V...
16  1617156539097260033  ='nickhedley', id=226891781, displayname='Nick...
17  1617156570806374401                                              User(
18  1617156570806374401  ='paulgp', id=16311780, displayname='Paul Gold...
19  1617156606453583877                                              User(
20  1617156606453583877  ='FrankDeya', id=630313285, displayname='Flame...
21  1617156625256644609                                               Null
22  1617156638120579073                                               Null
23  1617156687202496512                                               Null
24  1617156719884247042                                               Null
25  1617156740331732994                                               Null
26  1617156746954346496                                               Null
27  1617156768458747904                                              User(
28  1617156768458747904  ='SamsungIndia', id=46134530, displayname='Sam...
29  1617156768458747904  ='SamsungIndia', id=46134530, displayname='Sam...

In [68]:
muser.shape

(50898, 2)

In [69]:
muser.drop(muser[(muser['mentioned_users'] == 'User(')].index, inplace=True)

In [70]:
muser.head(30)

               tweet_id                                    mentioned_users
1   1617156291046133761  ='AlexandrovnaIng', id=2827059006, displayname...
2   1617156332297256961                                               Null
3   1617156389217894400                                               Null
5   1617156393898745858  ='SWENGDAD', id=1460452950875193348, displayna...
6   1617156404137295878                                               Null
7   1617156405869379585                                               Null
8   1617156409254375434                                               Null
9   1617156410634010624                                               Null
10  1617156441420271618                                               Null
11  1617156485846368257                                               Null
12  1617156511733780483                                               Null
13  1617156513642037249                                               Null
15  1617156539097260033  ='Slipcatch', id=33131099, displayname='Rgnr V...
16  1617156539097260033  ='nickhedley', id=226891781, displayname='Nick...
18  1617156570806374401  ='paulgp', id=16311780, displayname='Paul Gold...
20  1617156606453583877  ='FrankDeya', id=630313285, displayname='Flame...
21  1617156625256644609                                               Null
22  1617156638120579073                                               Null
23  1617156687202496512                                               Null
24  1617156719884247042                                               Null
25  1617156740331732994                                               Null
26  1617156746954346496                                               Null
28  1617156768458747904  ='SamsungIndia', id=46134530, displayname='Sam...
29  1617156768458747904  ='SamsungIndia', id=46134530, displayname='Sam...
30  1617156777623310339                                               Null
32  1617156780647419904  ='paulg', id=183749519, displayname='Paul Grah...
33  1617156828244357122                                               Null
34  1617156832556126209                                               Null
36  1617156879385346049  ='RVCJ_FB', id=2835317718, displayname='RVCJ M...
37  1617156884452225025                                               Null

In [71]:
muser['mentioned_users'] = muser.mentioned_users.str.extract('(.*)id')

In [72]:
muser.shape

(38448, 2)

In [73]:
muser.head(10)

               tweet_id       mentioned_users
1   1617156291046133761  ='AlexandrovnaIng',
2   1617156332297256961                   NaN
3   1617156389217894400                   NaN
5   1617156393898745858         ='SWENGDAD',
6   1617156404137295878                   NaN
7   1617156405869379585                   NaN
8   1617156409254375434                   NaN
9   1617156410634010624                   NaN
10  1617156441420271618                   NaN
11  1617156485846368257                   NaN

In [74]:
muser['mentioned_users'] = muser['mentioned_users'].astype(str).str.replace("='", '')

In [75]:
muser['mentioned_users'] = muser['mentioned_users'].astype(str).str.replace("',", '')

In [76]:
muser['mentioned_users'] = muser['mentioned_users'].astype(str).str.replace("', ", '')

In [77]:
muser.shape

(38448, 2)

In [78]:
muser.head(30)

               tweet_id   mentioned_users
1   1617156291046133761  AlexandrovnaIng
2   1617156332297256961               nan
3   1617156389217894400               nan
5   1617156393898745858         SWENGDAD
6   1617156404137295878               nan
7   1617156405869379585               nan
8   1617156409254375434               nan
9   1617156410634010624               nan
10  1617156441420271618               nan
11  1617156485846368257               nan
12  1617156511733780483               nan
13  1617156513642037249               nan
15  1617156539097260033        Slipcatch
16  1617156539097260033       nickhedley
18  1617156570806374401           paulgp
20  1617156606453583877        FrankDeya
21  1617156625256644609               nan
22  1617156638120579073               nan
23  1617156687202496512               nan
24  1617156719884247042               nan
25  1617156740331732994               nan
26  1617156746954346496               nan
28  1617156768458747904     SamsungIndia
29  1617156768458747904     SamsungIndia
30  1617156777623310339               nan
32  1617156780647419904            paulg
33  1617156828244357122               nan
34  1617156832556126209               nan
36  1617156879385346049          RVCJ_FB
37  1617156884452225025               nan

In [79]:
#write to csv

In [80]:
df1.to_csv('chatgpt_e.csv', encoding='utf-8', index=False, header=True)

In [81]:
tweet.to_csv('tweet.csv', encoding='utf-8', index=False, header=True)

In [82]:
user.to_csv('user.csv', encoding='utf-8', index=False, header=True)

In [83]:
engagement.to_csv('engagement.csv', encoding='utf-8', index=False, header=True)

In [84]:
media.to_csv('media.csv', encoding='utf-8', index=False, header=True)

In [85]:
hashtags.to_csv('hashtags.csv', encoding='utf-8', index=False, header=True)

In [86]:
muser.to_csv('muser.csv', encoding='utf-8', index=False, header=True)

#check without encoding

df1.to_csv('chatgpt_we.csv', index=False, header=True)